/* Add your CSS here */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* SMOOTH SCROLL */
html {
  scroll-behavior: smooth;
}

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  background: linear-gradient(#7804d6, #1629da);
}
